$container-top-items-height : 50px;

.container{
  display: grid;
}
.container-top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 20px;
}
.input{
  width: 475px;
  height: $container-top-items-height;
  border-radius: 12px;
  justify-self: start;
}

button{
  background-color: #2F80ED;
  height: $container-top-items-height;
  width: 110px;
  border-radius: 12px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: white;
  justify-self: end;
}
