<div class="container">
  <div class="container-top">
    <input type="text" id="input-task" [(ngModel)]="todo" class="input no-outline" placeholder="add details">
    <div class="button" (click)="AddTask()">
      <div style="text-align: center;align-self: center">Add</div>
    </div>
  </div>
  <div class="mt-30">
    <div *ngFor="let todo of todoArr;let i = index" class="container-todo">
      <input class="checkbox mr-7" type="checkbox" [checked]="todo.completed" (click)="TaskCompleted(i)">
      <div class="task" *ngIf="todoArr[i].completed==false">{{todoArr[i].todo}}</div>
      <del class="task" *ngIf="todoArr[i].completed==true">{{todoArr[i].todo}}</del>

    </div>
  </div>
</div>
