.container{
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
}

.header-font{
  font-family: 'Raleway', sans-serif;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 50px;
}
