.container{
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

#todo-container{
  //background-color: blueviolet;
  width: 608px;
}

.footer{
  color: #BDBDBD;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  align-self: end;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin-bottom: 40px;
}
