<div class="container">
  <div id="todo-container">
    <app-header></app-header>
    <app-menu
      (eventEmitterActive)="LogIt($event)"
      (eventEmitterAll)="ShowAll($event)"
      (eventEmitterCompleted)="ShowCompleted($event)"
    ></app-menu>
    <app-all [todoArr]="todoArr" (todoArrEvent)="Update($event)" *ngIf="allVisible"></app-all>
    <app-active *ngIf="activeVisible"></app-active>
    <app-completed (todoArrCompleted)="Update($event)" [todoArr]="todoArr" *ngIf="completedVisible"></app-completed>
  </div>
</div>
<router-outlet></router-outlet>
