<div class="container">
  <div class="mt-30">
    <div *ngFor="let todo of todoArr;let i = index" class="container-todo">
      <input *ngIf="todo.completed" class="checkbox mr-7" type="checkbox" checked disabled>
      <del *ngIf="todo.completed" class="task">{{todoArr[i].todo}}</del>
      <img *ngIf="todo.completed" src="../../assets/delete-outline.png" (click)="Remove(i)">
    </div>
    <div class="container-bottom">
      <div class="btn">
        <img class="btn-icon" src="../../assets/delete-outline-white.png">
        <div class="btn-text" (click)="RemoveAll()">Delete all</div>
      </div>
    </div>
  </div>
</div>
